<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoonShop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/myPage/myProduct.css}" rel="stylesheet">
    <link th:href="@{/css/common/side.css}" rel="stylesheet">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<th:block th:replace="common/header :: headFragment"></th:block>
<!-- Header Section End -->

<!-- SideBar Section Begin-->
<th:block th:replace="common/side :: sideFragment"></th:block>
<!-- SideBar Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>마이페이지</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<!-- 기본 회원정보 -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div>
                    <h5>마이페이지</h5>
                    <div class="row">
                        <div class="product-manage-table">
                            <table class="n-table table-row my-info-modify" style="width:1000px;">
                                <colgroup>
                                    <col width="10%;">
                                    <col width="70%;">
                                    <col width="30%;">
                                </colgroup>
                                <tbody>
                                    <tr name="cartTr" class="checkout__form__input my-info-img" id="profile-image-area">
                                        <th scope="row">사진</th>
                                        <td>
                                            <div class="upload1" id="upload-img1"></div>
                                            <p class="txt">회원님을 알릴 수 있는 사진을 등록해 주세요.<br>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</p>
                                        </td>
                                        <td class="va-b">
                                            <button type="button" class="n-btn w100 btn-sm btn-default cert-hidden" id="change-profile-image-btn">사진 변경</button>
                                        </td>
                                    </tr>
                                    <!--  사진 수정-->
                                    <tr name="cartTr" class="my-info-img" style="display: none" id="change-profile-image-area">
                                        <th scope="row">사진</th>
                                        <td>
                                            <div class="upload2" id="upload-img2"></div>
                                            <p class="txt">회원님을 알릴 수 있는 사진을 등록해 주세요.<br>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</p>
                                            <div class="btn-group">
                                                <input type="file" id="profile-image" class="n-hidden">
                                            </div>
                                        </td>
                                        <td class="va-b">
                                            <button type="button" class="n-btn btn-sm btn-lighter" id="change-profile-image-cancel-btn">취소</button>
                                            <button type="button" class="n-btn btn-sm btn-accent" id="change-profile-image-finish-btn">완료</button>
                                        </td>
                                    </tr>
                                    <tr class="checkout__form__input" name="cartTr">
                                        <th scope="row">이름(실명)</th>
                                        <td>
                                            <strong  th:text="${member.name}"></strong>
                                        </td>
                                    </tr>
                                    <tr class="checkout__form__input" name="cartTr">
                                        <th scope="row">아이디</th>
                                        <td colspan="2"><strong th:text="${member.memberId}"/></td>
                                    </tr>
                                    <tr class="checkout__form__input" name="cartTr" id="password-area">
                                        <th scope="row">비밀번호</th>
                                        <td><strong>********</strong></td>
                                        <td>
                                            <button type="button" class="n-btn w100 btn-sm btn-default cert-hidden" id="change-password-btn">비밀번호 변경</button>
                                        </td>
                                    </tr>
                                    <!--비밀번호 변경-->
                                    <tr class="checkout__form__input" name="cartTr" id="change-password-area" style="display: none">
                                        <th scope="row">비밀번호</th>
                                        <td colspan="2">
                                            <div class="my-info-modify">
                                                <div class="my-info-modify">
                                                    <input type="hidden" id="encryptPassword">
                                                    <input type="hidden" id="encryptNewPassword">
                                                    <input type="hidden" id="encryptConfirmPassword">
                                                    <div class="input">
                                                        <label for="password">현재 비밀번호</label>
                                                        <div class="input-password__wrap " id="password_div">
                                                            <input type="password" class="n-input" id="password">
                                                        </div>
                                                        <span id="password-invalid" class="validate danger"></span>
                                                    </div>
                                                    <div class="input">
                                                        <label for="newPassword">신규 비밀번호</label>
                                                        <div class="input-password__wrap " id="newPassword_div">
                                                            <input type="password" class="n-input" id="newPassword" maxlength="30">
                                                        </div>
                                                        <span id="new-password-invalid" class="validate danger"></span>
                                                        <span id="valid-newPassword" class="validate" style="display: none">사용 가능한 비밀번호입니다.</span>
                                                    </div>
                                                    <div class="input">
                                                        <label for="confirmPassword">신규 비밀번호 재 입력</label>
                                                        <div class="input-password__wrap " id="confirmPassword_div">
                                                            <input type="password" class="n-input" id="confirmPassword" maxlength="30">
                                                        </div>
                                                        <span id="confirm-password-invalid" class="validate danger"></span>
                                                        <span id="valid-confirmPassword" class="validate" style="display: none">사용 가능한 비밀번호입니다.</span>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="n-btn btn-sm btn-lighter" id="change-password-cancel-btn">취소</button>
                                                        <button type="button" class="n-btn btn-sm btn-accent disabled" id="change-password-finish-btn" disabled="">완료</button>
                                                    </div>
                                                </div>
                                            </div></td>
                                    </tr>
                                    <tr class="checkout__form__input" name="cartTr" id="nickName-area">
                                        <th scope="row">닉네임</th>
                                        <td><strong>이름7</strong></td>
                                        <td>
                                            <button type="button" class="n-btn w100 btn-sm btn-default cert-hidden" id="change-nickName-btn">닉네임 변경</button>
                                        </td>
                                    </tr>

                                    <!--닉네임 수정-->
                                    <tr class="checkout__form__input" name="cartTr" id="change-nickName-area" style="display: none">
                                        <th scope="row">닉네임</th>
                                        <td colspan="2">
                                            <div class="my-info-modify my-info-modify--nickname">
                                                <ul class="n-info-txt">
                                                    <li>길이는 최대 15자 이내로 작성해주세요.</li>
                                                    <li>중복 닉네임 불가합니다.</li>
                                                    <li>이모티콘 및 일부 특수문자 사용 불가합니다. &amp;&lt;&gt;()'/"</li>
                                                </ul>
                                                <div class="input">
                                                    <input type="text" id="nickName" class="n-input" placeholder="닉네임 입력(최대 15자)" maxlength="15">
                                                    <span id="currentNickName" class="validate">현재 닉네임 : 이름7</span>
                                                    <span id="nicknameValidationMessage" class="validate" hidden=""></span>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="n-btn btn-sm btn-lighter" id="change-nickName-cancel-btn">취소</button>
                                                    <button type="button" class="n-btn btn-sm btn-accent disabled" id="change-nickName-finish-btn" disabled="">완료</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="checkout__form__input" name="cartTr" id="email-area">
                                        <th scope="row">이메일</th>
                                        <td>
                                            <strong id="currentEmail" th:text="${member.email}"/>
                                        </td>
                                        <td>
                                            <button type="button" class="n-btn w100 btn-sm btn-default cert-hidden" id="change-email-btn">이메일 변경</button>
                                        </td>
                                    </tr>
                                    <!--이메일 인증-->
                                    <tr class="checkout__form__input" name="cartTr" id="change-email-area" style="display: none">
                                        <th scope="row">이메일</th>
                                        <td colspan="2">
                                            <div class="my-info-modify">
                                                <ul class="n-info-txt">
                                                    <li>메일주소 입력 후 인증하기 버튼을 누르시면, 회원님의 이메일로 이메일 인증 번호가 적힌메일이 발송됩니다.</li>
                                                    <li>아래에 인증 번호를 입력하시면 인증이 완료됩니다.</li>
                                                </ul>
                                                <div class="input input-btn">
                                                    <input type="text" class="n-input" placeholder="이메일 주소 입력" id="email" maxlength="50">
                                                    <button type="button" class="n-btn btn-sm btn-accent disabled" id="send-authentication-email" disabled="">인증</button>
                                                </div>
                                                <div class="input input-w">
                                                    <input type="text" class="n-input disabled" id="email-authTempKey" placeholder="인증번호 입력">
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="n-btn btn-sm btn-lighter" id="change-email-cancel-btn">취소</button>
                                                    <button type="button" class="n-btn btn-sm btn-accent disabled" id="change-email-finish-btn" disabled="">완료</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="checkout__form__input" name="cartTr" id="mobile-area">
                                        <th scope="row">휴대전화</th>
                                        <td><strong th:text="${member.telNo}"/>
                                            <span class="certify">인증완료</span>
                                        </td>
                                        <td>
                                            <button type="button" class="n-btn w100 btn-sm btn-default cert-hidden" id="change-mobile-btn">휴대전화 변경</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <!--<p class="my-info-withdrawal">탈퇴를 원하시면 회원탈퇴 버튼을 눌러주세요 <a href="" class="n-btn btn-sm btn-default" id="leaveBtn">회원탈퇴</a></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //기본 회원정보 -->

<!-- Checkout Section End -->

<!-- Footer Section Begin -->
<th:block th:replace="common/footer :: footFragment"></th:block>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mixitup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.countdown.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.slicknav.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/common/side.js}"></script>
<script type="text/javascript" th:src="@{/js/myPage/myPage.js}"></script>
</body>

</html>