<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/myPage/myProduct.css}" rel="stylesheet">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<th:block th:replace="common/header :: headFragment"></th:block>
<!-- Header Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>내 상품 정보</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.</h6>
            </div>
        </div>
        <form action="#" class="checkout__form">
            <div class="row">
                <div>
                    <h5>Billing detail</h5>
                    <div class="row">
                        <div class="col-lg-9 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>상품명 <span>*</span></p>
                                <input type="text" th:value="${product.productName}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>가격 <span>* (원 단위)</span></p>
                                <input type="text" th:value="${product.price}">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p>상품사진 <span>*</span></p>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="file" id="file-img1" class="real-upload" accept="image/*" required multiple>
                            <div class="upload" id="upload-img1">
                                <img th:if="${product.productFileList.size > 0}" th:src="'/' +${product.productFileList[0].file.filePth}" alt="">
                            </div>
                        </div>
                       <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="file" id="file-img2" class="real-upload1" accept="image/*" required multiple>
                            <div class="upload1" id="upload-img2">
                                <img th:if="${product.productFileList.size > 1}" th:src="'/' +${product.productFileList[1].file.filePth}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="file" id="file-img3" class="real-upload2" accept="image/*" required multiple>
                            <div class="upload2" id="upload-img3">
                                <img th:if="${product.productFileList.size > 2}" th:src="'/' +${product.productFileList[2].file.filePth}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="file" id="file-img4" class="real-upload3" accept="image/*" required multiple>
                            <div class="upload3" id="upload-img4">
                                <img th:if="${product.productFileList.size > 3}" th:src="'/' +${product.productFileList[3].file.filePth}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12"><p/></div>
                        <br/>
                        <div class="col-lg-12">
                            <p>상품 상세 설명</p>
                        </div>
                        <div class="col-lg-12">
                            <textarea class="product-detail"></textarea>
                        </div>
                        <div class="col-lg-12"><p/></div>
                        <br/>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>상품종류 <span>*</span></p>
                                <select class="form-select" id="productYpe" onchange="onProductTypeChange(this.value)">
                                    <option value=""> == 상품 종류 == </option>
                                    <option th:each="productType : ${productType}"
                                            th:if="${productType.getParentCategory().isEmpty()}"
                                            th:value="${productType}"
                                            th:text="${productType.value}"
                                            th:selected="${productType.code} == 'O'">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>상품상세종류 <span>*</span></p>
                                <select class="form-select" id="productDetailType">
                                    <option value=""> == 먼저 상품 종류를 선택하세요 == </option>
                                    <option th:each="productType : ${productType}" display="none"
                                            th:unless="${productType.getParentCategory().isEmpty()}"
                                            th:value="${productType.code}"
                                            th:name="${productType.getParentCategory().get()}"
                                            th:text="${productType.value}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout" style="display: inline-block;">
                                <p>사이즈 <span>*</span></p>
                                <div th:each="sizeType : ${sizeType}" style="display: inline-block;">
                                    <span th:text="${sizeType.code} + ': '"></span>
                                    <input type="number" style="width: 60px;" min="0" max="100" value="0">
                                    <span>개&nbsp;&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>상품종류 <span>*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Email <span>*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__checkbox">
                                <label for="acc">
                                    Create an acount?
                                    <input type="checkbox" id="acc">
                                    <span class="checkmark"></span>
                                </label>
                                <p>Create am acount by entering the information below. If you are a returing
                                    customer login at the <br />top of the page</p>
                            </div>
                            <div class="checkout__form__input">
                                <p>Account Password <span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__form__checkbox">
                                <label for="note">
                                    Note about your order, e.g, special noe for delivery
                                    <input type="checkbox" id="note">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__form__input">
                                <p>Oder notes <span>*</span></p>
                                <input type="text"
                                       placeholder="Note about your order, e.g, special noe for delivery">
                            </div>
                        </div>
                        <button type="submit" class="site-btn">상품등록</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<th:block th:replace="common/footer :: footFragment"></th:block>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mixitup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.countdown.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.slicknav.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/myPage/myProduct.js}"></script>
</body>

</html>